@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: beige;
    height: 200vh;
    font-family: 'Roboto', sans-serif;
}

nav{
    position: sticky;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    height: 2rem;
    align-items: center;
    padding: 1rem;
    top: 0;
}

nav ul{
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 10px;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.row{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col{
    width:30% ;
    height: 70vh;
    padding:2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.heading{
    margin: 1rem 0 ;
    text-transform: uppercase;
}

.col-1{
    background-color: #E28525;
    border-radius: 0.4rem 0 0 0.4rem;
}
.col-2{
    background-color: #016972 ;
    
}
.col-3{
    background-color: #00403F;
    border-radius: 0 0.4rem  0.4rem 0;
}
.btn{
    background-color: white;
    border-radius: 3rem;
    width: fit-content;
    padding: 0.7rem;
    margin-top: 2rem;
}
.btn-1{
    color: #E28525;
}
.btn-2{
    color: #016972;
}
.btn-3{
    color: #00403F;
}

@media (max-width:540px){
    .container{
        height: auto;
    }
    .row{
        width:90%;
        flex-direction: column;
    }
    .col{
        width:90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .col-1{
        border-radius: 1rem 1rem 0 0;
    }
    .col-3{
        border-radius: 0 0 1rem 1rem;
    }
    
}